// $mdc-theme-primary: black;
// $mdc-theme-secondary: green;
// $mdc-theme-on-primary: red;
// $mdc-theme-on-secondary: blue;

input {
    padding: 0
}

.app-bar {
    display: flex;
    justify-content: center;
    background-color: #222;
}


.app-bar-title {
    font-family: "roboto";
    font-size: 2em;
    font-weight: 200;
    color: #eee;
}
