.appBar {
  margin: 0;
  box-shadow: rgba(0, 1, 0, 0.12) 0px 1px 6px, rgba(1, 0, 0, 0.12) 0px 1px 4px;
  background: #00BCD4;
  height: 64px;
}

ul {
    display: inline-block;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline;
}

.appBar h1 {
  margin: auto;
  display: inline-block;
  margin-left: 1em;
  margin-right: 1em;
  font-family: Roboto, 'sans-serif';
  font-weight: 400;
  height: 64px;
  line-height: 64px;
  font-size: 24px;
  color: white;
}
