.list-item {
    // height: 100px;
}

.list-item--top-line {
    display: block;
    margin-bottom: 0.2em;
    ul {
	float: right;
	li {
	    display: inline;
	    margin-left: 0.6em
	}
    }
}


.list-item--details {
    display: none;
}
