// $mdc-theme-primary: black;

@import "@material/tabs/mdc-tabs";

.app-bar-tabs {
    @extend .mdc-tab-bar;
    background: white;
    // font-family: "roboto";
    // font-size: 1em;
    // font-weight: 200;
    position: sticky;
    top: 0;
}
